include ./includes/head.jade
body
  div#main.card
    if note
      h1 Edit Note
    else
      h1 New Note
    - if (note) {note.override = "/" + note._id + "/?_method=PUT"}
    - var item = note || {title: '', text: '', author: '', override: ""}
    form(method="POST", action="/notes#{item.override}")
      .input-field
        label(for='title') Title
        input#title(type='text' name='title' value="#{item.title}")
      .input-field
        label(for='author') Author
        input#author(type='text' name='author' value="#{item.author}")
      .input-field
        label(for='text') Entry
        textarea.materialize-textarea(name='text')= item.text
      .input-field
        select#cat(name='category')
          for cat in categories
            option(value=cat._id )= cat.title
        label Category
      .input-field
        input(type='submit', value='Save')

  include ./includes/scripts.jade
