include ./includes/head.jade
body
  include ./includes/navBar.jade
  div#main.card
    h4 Leave a <a href="/notes/new">note</a> or browse by <a href="/categories">Categories<a>
    h5 Notes on the site
    ul
      each note in notes
        li: <a href='/notes/#{note._id}'> <i class="fa fa-sticky-note-o"></i> #{note.title} </a> by #{note.author} in <a href='/categories/#{note.category._id}'> <i class="fa fa-list"></i>   #{note.category.title} </a>

  include ./includes/scripts.jade