include ./includes/head.jade
body
  div#main.card
    p #{note.title}
    p by #{note.author}
    p #{note.text}
    p #{note.category.title}

    a(href="#{note._id}/edit") Edit

    form(method='POST' action="/notes/#{note._id}?_method=DELETE")
      input(type='submit', value='Delete')

  include ./includes/scripts.jade