include ./includes/head.jade
body
  div#main.card
    h5 #{note.title} by #{note.author}
    p <a href="#{note._id}/edit"> Edit</a>
    p Category: #{note.category.title}
    p #{note.text}



    form(method='POST' action="/notes/#{note._id}?_method=DELETE")
      input(type='submit', value='Delete Note')

  include ./includes/scripts.jade