include ./includes/head.jade
body
  div#main.card
    h5 #{category.title}
    p <a href="#{category._id}/edit"> Edit</a>
    p #{category.description}


    each note in notes
        p: <a href='/notes/#{note._id}'> #{note.title} </a> by #{note.author}

    form(method='POST' action="/categories/#{category._id}?_method=DELETE")
      input(type='submit', value='Delete Category')

  include ./includes/scripts.jade