include ./includes/head.jade
body
  include ./includes/navBar.jade
  div#main.card
    h5 #{category.title}
    p <i class="fa fa-info"></i> #{category.description}


    each note in notes
        p: <a href='/notes/#{note._id}'><i class="fa fa-sticky-note-o"></i> #{note.title} </a> by #{note.author}
    p <a href="#{category._id}/edit"> Edit Category</a>
    form(method='POST' action="/categories/#{category._id}?_method=DELETE")
      input(type='submit', value='Delete Category')


  include ./includes/scripts.jade